* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(246, 217, 222);
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button {
    width: 350px;
    background-color: black;
    border: 2px solid white;
    border-radius: 15px;
    color: rgb(246, 217, 222);
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#bmi {
    background-color: white;
    border: 1px solid gray;
    
    color: #333;
    cursor: pointer;
    text-align: center;
    outline: none;
    display: inline-block;
    width: 160px;
    height: 20px;
    border-radius: 0%;
}

img {
    width: 450px;
    height: 450px;
    margin-left: 70px;
}

.right-side {
    margin: 20px;
}

.right {
    margin: 20px;
}

.guide-inner {
    margin: 5px;
}